/*
* {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    background-image: url(./img/bg-1.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    color: #251607;
}
.header {
    padding: 20px 0;
    @media (max-width: 700px) {
        background-image: url(./img/bg-2.png);
        background-position: center ;
    }
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
transition: 0.5s;
    @media (max-width: 700px) {
        
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100dvh;
        background-color: #251607;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    
        
        &.active {
       top: 0;
        }
    }
    a {
        text-transform: uppercase;
        text-decoration: none;
    color: #251607;
font-size: 25px;
font-weight: 500;
@media (max-width: 700px) {
   color: #fff;
}
    }
}
.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.logo,
 .burger {
    display: none;
    @media (max-width: 700px) {
        display: block;
        z-index: 11;
    }
}


.hero {
    padding: 30px 0;
}

.hero__wrapper {
    text-align: center;
 
    p {
        font-size: 22px;
        text-transform: uppercase;
        margin: 20px 0;
        font-weight: 500;

    }
    img {
        width: 100%;
    }
   div {
    display: flex;
    justify-content: space-between;
   }
}





.album {
    padding: 50px 0;
    .container {
        max-width: 1900px;
    }
}

.swiper-slide {
    img {
        width: 100%;
    }
}



.meet {
    padding: 50px 0;
    .haru-img {
        max-width: 704px;
        width: 100%;

    }
    .meetharu-img {
        max-width: 946px;
        width: 100%;
        
    }
    .boykurit {
      max-width: 946px;
      width: 100%;
        
    }
    
}

.meet__wrapper {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    column-gap: 60px;
@media (max-width: 1300px) {
    grid-template-columns: 1fr;
    column-gap: 120px;
    

    .haru {
        order: 2;
    }
    .meetharu {
        order: 1;
    }
}
    .haru {
        p {
            font-size: 25px;
            text-transform: uppercase;
        }
    }
    .meetharu {
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        gap: 260px;
        @media (max-width: 1300px) {
            gap: 80px;
            
        }
        p {
            font-size: 75px;
            text-transform: uppercase;
            font-weight: bold;
            @media (max-width: 1300px) {
                font-size: 50px;
                
            }
            @media (max-width: 800px) {
                font-size: 30px;
                
            }
        }
    }
}


.plan {
    padding: 30px 0;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    h3 {
        text-align: center;
    }
    h2 {
        max-width: 300px;
        width: 100%;
    }
    p {
        max-width: 300px;

        width: 100%;
    }
    .text {
        display: flex;
        justify-content: space-between;
    }
    .plans {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        column-gap: 80px;
        margin-left: 100px;
    }
}

.card-1 {
    background-image: url(./img/tree.png);
}
.card-2 {
    background-image: url(./img/tree-2.png);
}
.card-4 {
    background-image: url(./img/incubator.png);
}
.card-3 {
    background-image: url(./img/capital.png);
}
.card-5 {
    background-image: url(./img/collection.png);
}
    .plan__wrapper {
        display: flex;

    }
    .card {
        width: 100%;
        background-size: cover;
        background-position: center;
        min-height: 400px;
        border: 3px solid black;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: beige;
        transition: 0.3s;
        &:hover {
            p {
                max-height: 30px;
                overflow: visible;
            }
            h2 {
                font-size: 38px;

            }
        }
        p {
            color: gray;
            margin-top: 15px;
            max-height: 0;
            overflow: hidden;
            transition: 0.2s;
        }
        h2 {
            transition: 0.2s;
        }
    }
    .treecard {
        width: 100%;
        background-size: cover;
        background-position: center;
        min-height: 900px;
        border: 3px solid black;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: beige;
        p {
            color: gray;
        }
    }


*/



















    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    background-image: url(./img/bg-1.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    color: #251607;
}
.header {
    padding: 20px 0;
    @media (max-width: 700px) {
        background-image: url(./img/bg-2.png);
        background-position: center ;
    }
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
transition: 0.5s;
    @media (max-width: 700px) {
        /* display: none; */
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100dvh;
        background-color: #251607;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    
        
        &.active {
       top: 0;
        }
    }
    a {
        text-transform: uppercase;
        text-decoration: none;
    color: #251607;
font-size: 25px;
font-weight: 500;
@media (max-width: 700px) {
   color: #fff;
}
    }
}
.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.logo,
 .burger {
    display: none;
    @media (max-width: 700px) {
        display: block;
        z-index: 11;
    }
}


.hero {
    padding: 30px 0;
}

.hero__wrapper {
    text-align: center;
 
    p {
        font-size: 22px;
        text-transform: uppercase;
        margin: 20px 0;
        font-weight: 500;

    }
    img {
        width: 100%;
    }
   div {
    display: flex;
    justify-content: space-between;
   }
}





.album {
    padding: 50px 0;
    .container {
        max-width: 1900px;
    }
}

.swiper-slide {
    img {
        width: 100%;
    }
}


.meet__wrapper {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    gap: 40px;
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column-reverse;
    }

    p {
        font-size: 22px;
        line-height: 1.2;

    }
}
.meet__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
     img {
        width: 100%;
     }
     text-transform: uppercase;
}

.meet__box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 769px) {
        text-align: center;
    }
     img {
        width: 100%;
     }
     h2 {
        font-size: clamp(4.375rem, -1.944rem + 14.44vw, 12.5rem);
        line-height: 1.2;
     }
     h3 {
        font-size: clamp(1.875rem, -1.434rem + 7.06vw, 5.625rem);
     }
    p {
        text-transform: uppercase;
        text-align: right;
        @media (max-width: 769px) {
            text-align: center;
        }
    }
}





.our {
    padding: 100px 0;

}
.our__title {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 20px;
}
.our__wrapper {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;  
    gap: 20px 20px;  
    grid-template-areas:  
      "card-1 card-2 card-4" 
      "card-1 card-3 card-5";  
 

.card-1 { grid-area: card-1; } 
.card-2 { grid-area: card-2; } 
.card-3 { grid-area: card-3; } 
.card-4 { grid-area: card-4; } 
.card-5 { grid-area: card-5; }

@media (max-width: 900px) {
    grid-template-columns: 1fr 1fr;  

    grid-template-areas:
        "card-1 card-1"
        "card-2 card-3"
        "card-4 card-5";
}
@media (max-width: 700px) {
    grid-template-columns: 1fr;  

    grid-template-areas:
        "card-1"
        "card-2"
        "card-3"
        "card-4"
        "card-5";
}

}
.our__card {
    min-height: 350px;
    border: 1px solid black;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    color: beige;
    text-transform: uppercase;
    transition: all 0.4s;
    h3 {
        transition: 0.4s;
    }
    p {
        height: 0px;
        transition: 0.4s;
        overflow: hidden;
    }
    &:hover {
        h3 {
            font-size: 30px;
        }
        p {
            height: 30px;
            overflow: visible;
        }
    }
    @media (max-width: 768px) {
        min-height: 280px;
    }
}
.card-1 {
    background-image: url(./img/tree.png);
}
.card-2 {
    background-image: url(./img/tree-2.png);
}
.card-4 {
    background-image: url(./img/incubator.png);
}
.card-3 {
    background-image: url(./img/capital.png);
}
.card-5 {
    background-image: url(./img/collection.png);
}